/* forgetpass.css */

.container {
  min-width: 50vh;
  text-align: -webkit-center;
  padding: 30px;
  height: 100vh;
  background-color: #e5e5e5;
  border: 0px solid #110d0d;
  border-radius: 5px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input[type="email"],
  .form-group input[type="text"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 3px;
    font-size: 16px;
  }
  
  .form-group button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .form-group button:hover {
    background-color: #0056b3;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0073e6;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .button:disabled{
    opacity: 50%;
    cursor: not-allowed;
  }

  /* Input field styles */
  .input-field {
    margin-bottom: 1rem;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 4px;
    width: 100%;
    outline: none;
  }
  
  /* Error message styles */
  .error-message {
    color: red;
    font-size: 10px;
  }

  .password-criteria {
  margin-bottom: 10px;
  text-align: left;
}

.password-criteria-text {
  font-size: small;
  color: #888; /* Dimmed color */
}

.password-criteria-list {
  list-style: disc;
  margin-left: 20px;
  font-size: small;
  color: #888; /* Dimmed color */
}
  

.container-dark {
  min-width: 50vh;
  text-align: -webkit-center;
  padding: 30px;
  height: 100vh;
  background-color: #333; /* Dark background color */
  border: 0px solid #110d0d;
  border-radius: 5px;
  color: #fff; /* Light text color */
}

.forgot{
  background-color: #ffffff; /* White background */
  padding: 1.5rem; /* Equivalent to 6 units of padding (each unit is 0.25rem) */
  border-radius: 0.375rem; /* Equivalent to rounded-lg */
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1); /* Equivalent to shadow-md */
}

.forgot-dark{
  background-color: #333; /* White background */
  padding: 1.5rem; /* Equivalent to 6 units of padding (each unit is 0.25rem) */
  border: 1px solid #fff;
  color: white;
  border-radius: 0.375rem; /* Equivalent to rounded-lg */
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1); /* Equivalent to shadow-md */
}
