/* General Styling */
.registrationContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  scroll-behavior: smooth;
  margin-top: 20px;
}

.registrationContainer-dark {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #444; /* Adjust the border color for dark mode */
  background-color: #222; /* Dark background color */
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1); /* Adjust the shadow color */
  border-radius: 25px;
  scroll-behavior: smooth;
  margin-top: 20px;
  color: #fff; /* Light text color for dark mode */
}

.labelText::after {
  content: " *";
  color: red;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input {
  margin: 'auto';
  display: 'block';
  width: '100%';
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

select {
  cursor: pointer;
}

/* Phone Number Input */
.phone-input {
  display: flex;
  align-items: center;
}

#contactNumberCode,
#whatsappNumberCode {
  flex: 0.2;
  margin-right: 5px;
  /* Adjust the width to decrease the length of the input field */
  width: 180px;
  /* Example width, adjust as needed */
}

select#contactNumberCode option:checked {
  background-color: #f0f0f0;
  /* Change this to the desired background color */
  font-weight: bold;
  /* You can also make the text bold */
}

/* Button */
button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
  font-weight: bold;
  font-size: 14px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
.submit-button.disabled {
  opacity: 0.5; /* Lower the opacity when disabled */
  cursor: not-allowed; /* Change cursor to indicate not clickable */
}
/* File Upload */
input[type="file"] {
  display: block;
  margin-top: 5px;
}

/* Responsive Styles */
@media screen and (max-width: 480px) {
  .registrationContainer {
    max-width: 100%;
    padding: 10px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select {
    font-size: 12px;
  }

  button[type="submit"] {
    font-size: 14px;
    
  }
}

.payment-link-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #248620;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  margin-left: 32%;
}

.payment-link-button:hover {
  background-color: #25650f;
}

.backbutton {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.backbutton:hover{
  color: #ccc;
}

/* .back-icon {
  margin-right: 8px;
} */

.next-button {
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  /* padding: 8px 12px; */
  cursor: pointer;
  font-size: 16px;
  color: #fff;
}

.next-icon {
  margin-left: 8px;
}

.success-message {
  margin-top: 20px;
  background-color: #e0f2ff;
  border: 1px solid #80bfff;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

.success-text {
  color: #008000;
  font-size: 16px;
}

.return-link {
  color: #008000;
  text-decoration: underline;
}

.return-link:hover {
  text-decoration: none;
}

/* Styling for the input field */
.dropdown-input {
  width: 100%; /* Adjust the width as needed */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Styling for the dropdown list */
.dropdown-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 77vh;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  position: absolute;
  background-color: white;
  z-index: 1;
}
.disclaimer {
  font-size: 12px;
  color: #777;
  margin-top: 5px;
}

/* Styling for dropdown options */
.dropdown-option {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-option:hover {
  background-color: #f2f2f2;
}




.tooltip {
  color: white;
  background: #8d8989;
  z-index: -100000;
  position: absolute;
  border-radius: 10px;
  padding: 8px;
  opacity: 0;
  transition: opacity 0.3s;
  cursor: default;
}

.infoIcon{
  cursor: pointer;
  z-index: 1000000;
}

.infoIcon:hover + .tooltip {
  opacity: 1;
  cursor: text;
  z-index: 10000000;
}

.tooltip1 {
  color: white;
  background: #8d8989;
  z-index: -10000;
  position: absolute;
  border-radius: 10px;
  padding: 8px;
  opacity: 0;
  transition: opacity 0.3s;
  cursor: default;
}

.infoIcon1{
  cursor: pointer;
  z-index: 100000;
}

.infoIcon1:hover + .tooltip1 {
  opacity: 1;
  cursor: text;
  z-index: 100000;
}
