.App {
  background:radial-gradient(#3a759c, transparent);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #408fe4;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-right: 10px;
}

button:hover {
  background-color: #0056b3;
}

input:disabled {
  cursor: not-allowed;
}


.App-dark {
  background: radial-gradient(circle, #1f2b49, #1c1c1c);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #ffffff;
}



.label-dark {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #fff; /* Light text color */
}

.input-dark {
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #555; /* Dark input background */
  color: #fff; /* Light text color */
}

